<div class= "new_question">
  <%= form_for @question do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %><%= @question.errors[:title].join(',') %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body %><br>
    </div>
    <%= f.submit %>
  <% end %>
</div>

