<div class= "new_question">
  <%= form_for @question do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %><%= @question.errors[:title].join(',') %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %><br>
    </p>
    <%= f.submit %>
  <% end %>
</div>

