<div>
  <h3>Showing Question <%= @question.id %></h3>
  <strong>Title: </strong><%= @question.title %><br>
  <strong>Body: </strong><%= @question.body %><br>
  <strong>User_id: </strong><%= @question.user_id %><br>
  <strong>Created: </strong><%= @question.created_at %><br>
</div>
<br>
<div>
  <%= link_to "View all questions", questions_path %>
</div>
