<!DOCTYPE html>
<html>
<head>
  <title>What Would Sherif Do?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-collapse navbar-ex1-collapse">
      <p class="navbar-text">
        <% if current_user %>
          <%= image_tag("http://www.gravatar.com/avatar/#{current_user.gravatar_hash}?d=#{current_user.default_image}", :size => "80x80") %>
          <%= "Welcome, #{current_user.username}" %><br>
        <% end %>
      </p>
      <button type="button" class="btn btn-default navbar-btn navbar-right" id="navbar-button">
        <% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </button>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id= "yield" class="container">
    <%= yield %>
  </div>




  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div id="footer" class="navbar-collapse navbar-ex1-collapse">
      <span> &#169; 2013 What Would Sherif Do (WWSD). All rights reserved.</span>

    </div>
  </nav>
</body>
</html>

